<!DOCTYPE html>
<html>
	<head>
		<title>ChickChickGo Search - Error</title>
		<link rel="icon" type="image/png" href="static/img/favicon.png"></link>	
	</head>
	<body>
		<div class="center">
			<img class="logo" src="static/img/error.jpg" alt="sad chicken">
			<div class="error">
				<span class="error_code">Error ({{code}})</span>
				<br><br>
				<span class="error_message">
					We're sorry, but the page you're looking for can't be found!
					<br>
					You might want to head back to <a href="/">Home</a>
				</span>
			</div>
		</div>

		<link rel="stylesheet" type="text/css" href="static/css/main.css"></link>
	</body>
</html>