<!DOCTYPE html>
<html>
    <head>
        <title>ChickChickGo</title>
        <link rel="icon" type="image/png" href="static/img/favicon.png"></link>
        <link rel="stylesheet" type="text/css" href="static/css/main.css"></link>
    </head>
    <body>
        <!-- The search query part -->
        <div class="center">
            <a href="/"><img class="logo" src="static/img/logo.gif" alt="ChickChickGo logo"></a>
            <br>
            <form>
                <input id="query" class="textbox" type="text" name="keywords">
                <br>
                <input class="search_button" type="submit" value="search">
            </form>
        </div>
    </body>
</html>