<!DOCTYPE html>
<html>
    <head>
        <title>ChickChickGo</title>
        <link rel="icon" type="image/png" href="static/img/favicon.png"></link>
        <link rel="stylesheet" type="text/css" href="static/css/main.css"></link>
    </head>
    <body>
        <!-- The search query part -->
        <div class="center">
            <a href="/"><img class="logo" src="static/img/logo.gif" alt="ChickChickGo logo"></a>
            <a href="/"><div class="name">ChickChickGo</div></a>
            <form class="search-home" method="GET" action="/">
                <input id="query" class="querybox" type="text" name="q" placeholder="Search something about Jian (e.g. resume)">
                <input id="search-btn" class="search_button" type="submit" value="">
            </form>
        </div>
    </body>
</html>