.center {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 7%;
	text-align: center;
}

.center a {
	text-decoration: none;
	color: #000000;
}

.name {
	margin-top: 10px;
	font-size: 40px;
	margin-bottom: 20px;
}

img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.search-home {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	display: block;
	position: relative;
	height: 2.8em;
	background-color: #fff;
	border: 1px solid #cccdc8;
	padding-left: 0.75em;
	padding-right: 3.5em;
}

.querybox {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: 1.1em;
	font-weight: normal;
	display: block;
	width: 100%;
	background: none;
	outline: none;
	border: none;
	padding: 0;
	height: 2.54545em;
	z-index: 1;
	position: relative;
	top: -1px;
}

.search_button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;

	width: 3.5em;
	display: block;
	cursor: pointer;
	text-align: center;
	border: none;
	border-radius: 2px;

	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: auto;
	margin: auto;
	z-index: 2;
	outline: none;

	background: url("/static/img/search-icon.svg");
	background-size: 2.5em 2.5em;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
}

.search-home:hover .search_button,
.search_button:hover, 
.search_button:active {
	background-color: #cc181e;
}

.error {
	margin-left: auto;
	margin-right: auto;
	width: 30em
}

.error_code {
	font-size: 40px;
}

.error_message {
	font-size: 20px;
	line-height: 150%;
}

.result_url {
	white-space: pre-line;
	word-wrap:break-word;
}

.result_urls {
	white-space: pre-wrap;
}

.pagination {
	text-align: center;
}

.math_answer {
	font-size: 40px;
}